html {
  /* font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif; */
  font-family: "Inter", sans-serif;
  --accent: #ff4747;
  /* rgb(175, 41, 0); */
  /* outline: 0.1px rgba(128, 128, 128, 0.123) dashed */
}

body {
  margin: 0;
  position: relative;
  background: rgb(43, 43, 43);
}
#topbar {
  color: #eee;
  background-color: rgb(34, 34, 34);
  padding: 0rem;
  height: 3rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
}
#topbar header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  max-width: 900px;
  height: 100%;
}
#topbar h1 {
  color: var(--accent);
  font-size: 2rem;
  font-weight: 0;
  opacity: 1;
  /* position: absolute; */
  z-index: 0;
  cursor: default;
}
#topbar a {
  color: unset;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#topbar li {
  border-radius: 0;
  height: 100%;
  padding: 0;
  margin: 0;
  width: 6rem;
  transition: 100ms background;
  -webkit-transition: 100ms background;
  -moz-transition: 100ms background;
  -ms-transition: 100ms background;
  -o-transition: 100ms background;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
#topbar .tab-active {
  background: rgb(43, 43, 43);
}
#topbar li:not(.tab-active):hover {
  background: rgb(30, 30, 30);
}
#topbar ul {
  height: 100%;
  display: flex;
  gap: 1rem;
  margin: 0;
  justify-content: center;
  align-items: stretch;
}
nav {
  height: 100%;
}
nav li {
  text-decoration: none;
}
main {
  margin: 1rem auto;
  background-color: rgb(29, 29, 29);
  box-shadow: rgba(3, 3, 3, 0.26) 0 0 10px;
  max-width: 900px;
  border-radius: 4px;
  position: absolute;
  left: 0;
  right: 0;
  color: #ddd;
}
#sections {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
section:empty {
  display: none;
  padding: 0;
}
section {
  /* background-color: rgb(, , ); */
  padding: 1rem;
  max-width: 400px;
  margin: 1em;
  border-radius: 3px;
  /* border-left: 1px var(--accent) solid */
}
section h3 {
  font-weight: bold;
  font-size: 3rem;
  border-bottom: 1px var(--accent) solid;
  margin: 0;
  /* text-align: center; */
  padding-bottom: 0em;
}
#volunteering {
  background-image: none;
}
section dl div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(20, 20, 20);
  padding: 1rem;
  margin: 1rem 0;
  /* outline: 1px red solid; */
}
dt {
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
}
dt i {
  color: var(--accent);
  opacity: .5;
  display: block;
}
dt span {
    display: block;
}
dt,
dd {
  margin: 0;
}
dl > dd:only-child {
  font-size: 0.8rem;
  margin-top: 0.8rem;
  margin-left: 0.8rem;
  margin-right: 0.8rem;
  border: 3px red solid;
}

h1,
h2,
h3,
p {
  margin: 1rem;
}
figure {
  position: relative;
  --size: 300px;
  --image-size: 1;
  width: var(--size);
  height: calc(1 * var(--size));
  --position-y: 0%;
  margin-bottom: 0;
  margin-left: 0;
}
aside dl {
  background: rgb(20, 20, 20);
  margin: 0;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
  font-size: 0.73em;
  justify-content: space-around;
}
aside dl * {
  position: relative;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  margin: 0;
  text-align: center;
  line-height: 1rem;
}
aside dl div {
  margin: 0.1rem 0.2rem;
}
aside dl dt {
  --iconsize: 2rem;
  position: absolute;
  bottom: calc(0em - var(--iconsize) / 4);
  left: 0;
  right: 0;
  font-size: var(--iconsize);
  opacity: 0.1;
  /*z-index: 1;
  */
  color: var(--accent);
  filter: brightness(200%);
  -webkit-filter: brightness(200%);
}
aside time,
aside a {
  color: #eee;
  opacity: 0.8;
}
#portrait-background {
  z-index: 0;
  /* width: var(--size); */
  /* height: var(--size); */
  border-top-right-radius: 100%;
  height: calc(0.8 * var(--size));
  width: calc(0.94 * var(--size));
  /* position:absolute; */
  /* bottom: -00%; */
  /* border: 1px black solid; */
}
#portrait-cutout {
  z-index: 1;
  /* border-bottom-left-radius: var(--size); */
  /* border-bottom-right-radius: var(--size); */
  /* display:none; */
}
figure img {
  width: calc(100% * var(--image-size));
  position: absolute;
  /* left: -70%; */
  bottom: var(--position-y);
  /* display:none; */
  flex-grow: 0;
}
a {
  text-decoration: none;
  color: var(--accent);
  font-weight: 300;
}

ul {
  padding: 0;
}
li {
  font-size: 0.8em;
  list-style: none;
  background: #222;
  display: inline-block;
  color: white;
  padding: 0.3em 0.6em;
  border-radius: 1em;
  margin-bottom: 0.1em;
}
#pronouns {
  color: #5f5f5f;
  font-style: italic;
  font-size: 0.7em;
}
#cv > header {
  display: flex;
  align-items: center;
  /* height: 300px; */
  font-size: 1.2rem;
}
.accent {
  color: var(--accent);
}
.institution {
  font-size: 0.8rem;
  opacity: 0.8;
  font-weight: 0;
  font-style: italic;
}
